
.form {
    
}

label {
    display: block;
    opacity: 0.3;
    display: inline;
}

input {
    background: none;
    border: none;
    font-size: 31px;
    width: 100%;
}

.error {
    opacity: 1;
}