footer {
    padding: 20px;
    border-top: 1px #e3e3e3 solid;
    text-align: right;

    span {
        opacity: 0.5
    }

    a {
        text-decoration: none;
        opacity: 0.7;
        color: #000;
        transition: opacity 300ms ease;
    }
    a:hover {
        opacity: 1;
    }
}